torch==2.4.0
transformers==4.45.2
datasets>=2.14.3
tqdm
tyro>=0.5.7
numpy
accelerate==0.34.2
pydantic
pytest
optimum
loralib
einops
isort
megatron-core==0.7.0
pulp
https://410374-2.oss-cn-hangzhou-zmf.aliyuncs.com/pkgs/transformers_turbo-0.0.5-py3-none-any.whl
https://424850.oss-cn-hangzhou-zmf.aliyuncs.com/apex/apex-0.1-cp310-cp310-linux_x86_64.whl?OSSAccessKeyId=LTAI5tBYK9dcsovL5zZynVcM&Expires=10001733823892&Signature=vREMwI0SVQcl5faX4zlp6ulb1oE%3D
